<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124642276280-d56c7j7lprcq10s6t234f4gcjbqb1quv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124642276280-d56c7j7lprcq10s6t234f4gcjbqb1quv</string>
	<key>API_KEY</key>
	<string>AIzaSyCRv6UELAAyIPhidplB0w4KCiR4azo6DPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>124642276280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RichardMazid.Medipills</string>
	<key>PROJECT_ID</key>
	<string>medipills-549aa</string>
	<key>STORAGE_BUCKET</key>
	<string>medipills-549aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124642276280:ios:3aec047e8f78be987bd54d</string>
</dict>
</plist>